<%

  if (typeof(form_accounts) != undefined) {
    var fields = Object.keys(form_accounts);
  } else {
    var fields = {}
  }

  var data = {};

  for (var i = 0; i < fields.length; i++) {
    var field= fields[i];
    data[field] = form_accounts.hasOwnProperty(field) ? form_accounts[field] : '';
  }


%>

<div class="row"  style="border: solid 1px #AAAAAA; border-radius: 5px; margin: 10px; margin-bottom: 10px; padding: 10px; min-width: 650px;">     <!--  RIGHT COLUMN -->

  <div class="col">

  
  <div class="row mb-2 flex-nowrap">
    <div class="col" style="margin-left: 10px;">
      <label class="col-form-label-md frostybot-form-label-lq"><b>Exchange Connection Information</b></label>
    </div>
  </div>
  <div class="row mb-2 flex-nowrap"> 
    <div class="col" style="margin-left: 10px;">


      <form id="accountsform" autocomplete="off">
          <div class="row mb-2">
            <label for="inputstub" class="col-sm-2 col-form-label-sm frostybot-form-label">Stub/Broker</label>
            <div class="col-sm-2" style="width: 160px;">
              <input type="text" class="form-control-sm frostybot-input frostybot-input-sm" <%= (data.hasOwnProperty('stub') ? 'disabled' : '') %> id="inputstub" value="<%= data['stub'] %>">
            </div>
            <div class="col-sm-4" style="width: 300px;">
              <span id="stubinlinehelp" class="form-text">
                <%= (data.hasOwnProperty('stub') ? '' : 'Lowercase, no spaces or special characters.') %>
              </span>
            </div>
          </div>
          <div class="row mb-2">
            <label for="inputexchange" class="col-sm-2 col-form-label-sm frostybot-form-label">Exchange</label>
            <div class="col-sm-2" style="width: 220px;">
              <select class="form-select form-select-sm form-control-md frostybot-input frostybot-input-md" style="width: 200px;" aria-label=".form-select-sm example" id="inputexchange">
                  <%
                  if (!data.hasOwnProperty('stub')) {
                  %>
                    <option value="" disabled selected>Select Exchange...</option>
                      <optgroup label="Binance">
                  <%
                  }
                  %>

                  <%

                    var exchanges = {
                      'Binance:binance_spot':     "Binance Spot",
                      'Binance:binance_futures':  "Binance USDT Futures",
                      'Binance:binance_coinm':    "Binance COIN-M Futures",
                      'Binance:binanceus':        "Binance.US",
                      'Bitmex:bitmex':            "Bitmex",
                      'ByBit:bybit':              "ByBit",
                      'Deribit:deribit':          "Deribit",
                      'FTX:ftx':                  "FTX",
                      'FTX:ftxus':                "FTX.US",
                    };

                    var optgroup = 'Binance';
                    for (const [exchange, description] of Object.entries(exchanges)) {
                        var [group, ex] = exchange.split(':');
                        if (group != optgroup) {
                          var optgroup = group;
                          %>
                            </optgroup>
                            <optgroup label="<%= optgroup %>">
                          <%
                        }
                  %>
                  
                          <option optgroup="<%= group %>" value="<%= ex %>" <%= (ex == data['exchange'] ? 'selected' : '') %>><%= description %></option>
                
                  <%

                    }

                  %>
                      </optgroup>
              </select>
            </div>
            <div class="col-sm-4" id="testnetfield">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inputtestnet" <%= (String(data['testnet']) == 'true' ? 'checked' : '') %>>
                <label class="form-check-label" for="inputtestnet">
                  This is a testnet account
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <label for="inputapikey" class="col-sm-2 col-form-label-sm frostybot-form-label">API Key</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-sm frostybot-input frostybot-input-lg" readonly onfocus="this.removeAttribute('readonly');" id="inputapikey" value="<%= data['apikey'] %>">
            </div>
          </div>
          <div class="row mb-2">
            <label for="inputsecret" class="col-sm-2 col-form-label-sm frostybot-form-label">Secret</label>
            <div class="col-sm-10">
              <input type="password" class="form-control-sm frostybot-input frostybot-input-lg" readonly onfocus="this.removeAttribute('readonly');" id="inputsecret" placeholder="<%= (data.hasOwnProperty('stub') ? 'For security reasons, you must re-enter your secret to edit this stub' : '') %>">
            </div>
          </div>
          <div class="row mb-2">
            <label for="inputdescription" class="col-sm-2 col-form-label-sm frostybot-form-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-sm frostybot-exchange-keys frostybot-input frostybot-input-lg" id="inputdescription" value="<%= data['description'] %>">
            </div>
          </div>
          <div class="row mb-2" id="subaccountfield" <%= (['ftx','ftxus'].includes(data['exchange']) ? 'style="display: none;"' : '') %>>
            <label for="inputsubaccount" class="col-sm-2 col-form-label-sm frostybot-form-label">Subaccount</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-sm frostybot-input frostybot-input-sm" id="inputsubaccount" value="<%= data['subaccount'] %>">
              <span id="stubinlinehelp" class="form-text">
                Required when using FTX subaccount, case sensitive.
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col text-center pt-3 pr-5">      
              <button type="submit" class="btn btn-success frostybot-button-sm" id="accountssubmit"><span class="fa fa-check"></span> Submit</button>
              <button type="button" class="btn btn-primary frostybot-button-sm mr-5" id="accountscancel"><span class="fa fa-ban"></span> Cancel</button>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>
