<% 
  if (typeof(table_accounts) !== 'undefined') {
    var accounts = Object.values(table_accounts);
    var accounts = accounts.sort((a, b) => (a.stub > b.stub) ? 1 : -1)
  } else {
    var accounts = [];
  }
  
  const capitalize = (s) => {
    console.log("table accounts s", s);
    if (typeof s !== "string") return "";
    if (s.toLowerCase() == "ftx") return "FTX.com";
    if (s.toLowerCase() == "ftxus") return "FTX.us";
    if (s.toLowerCase() == "binanceus") return "Binance US";
    if (s.toLowerCase() == "bybit") return "ByBit";
    if (s.toLowerCase() == "futures") return "USDT Futures";
    if (s.toLowerCase() == "coinm") return "Coin-M Futures";
    return s.charAt(0).toUpperCase() + s.slice(1)
  }

%>

<table class="table table-sm mb-0">
    <thead>
      <tr>
        <th scope="col">Stub</th>
        <th scope="col">Exchange</th>
        <th scope="col">Description</th>
        <th scope="col">Subaccount</th>
        <th scope="col text-center">Testnet</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% 
          accounts.forEach(account => {  

            if (account.hasOwnProperty('stub')) {
      %>
        <tr>
          <td><%= account.stub.toLowerCase() %></td>
          <td><%= capitalize(account.exchange) %> <%= account.type != null ? " " + capitalize(account.type) : "" %></td>
          <td><%= account.description %></td>
          <td><%= account.parameters.subaccount %></td>
          <td><%= account.parameters.testnet == "true" ? "Yes" : "No" %></td>
          <td>
            <a href="#" data-stub="<%= account.stub.toLowerCase() %>" class="testaccountlink" data-toggle="tooltip" title="Test"><span class="fa fa-bolt fa-lg"></span></a>
            <a class="editaccountlink ml-3" href="#" data-stub="<%= account.stub.toLowerCase() %>" data-toggle="tooltip" title="Edit API Key"><span class="fa fa-key fa-lg"></span></a>
            <a href="#" class="configlink ml-3" data-stub="<%= account.stub.toLowerCase() %>" data-toggle="tooltip" title="Additional Settings"><span class="fa fa-cog fa-lg"></span></a>
            <a href="#" class="deleteaccountlink ml-3" data-stub="<%= account.stub.toLowerCase() %>" data-toggle="tooltip" title="Delete"><span class="fa fa-trash fa-lg fa-danger"></span></a>
          </td>
        </tr>
      <% 
            }
          }); 
      %>

    </tbody>
</table>